.details_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.details_box {
  max-width: 400px;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.details_box > img {
  margin: 30px auto;
  display: block;
}

.title {
  background-color: #2a7df6;
  color: white;
  padding: 10px;
  margin: 0;
}

.list_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid lightgray;
}

.types_box {
  align-items: flex-start;
}

.list_box > h3,
.list_box > p {
  margin: 0;
  padding: 12px;
}

.type_name > p {
  margin: 0;
  padding: 6px 12px;
}
